* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* uso e importacion de fuentes google font "Archivo"*/
  font-family: "Archivo", serif;
  font-weight: 400;
  font-style: normal;
}

.menu_hamburguesa {
  display: none;
}

.lab_hamburguesa {
  display: none;
}

.logo {
  margin: 10px;
  padding: 10;
  width: 90px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.5);
}

.nav-container {
  background-color: #7a1e92;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.ul-container {
  font-size: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 30px;
}

.ul-container a {
  text-decoration: none;
  color: #fdfdfd;
}

.ul-container a:hover {
  cursor: pointer;
  color: #14dada;
  font-weight: bold;
}

/* FIn de Header */

/* ----------------- Main y seccion Inicio  e iframe------------------ */

#inicio {
  background-color: #7a1e92;
  padding: 10px;
}

#inicio h2 {
  display: flex;
  color: white;
  font-size: 40px;
  justify-content: center;
  text-shadow: 3px 3px 5px rgba(65, 64, 61, 0.5);
  gap: 10px;
  overflow: hidden;
}

#inicio p {
  color: #f0f3f4;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 8px;
  margin: auto;
}

iframe {
  display: flex;
  width: 80%;
  height: 600px;
  margin: auto;
  border: #191a1a solid 2px;
}

iframe:hover {
  cursor: pointer;
}

/*  Seccion card y productos  */

#productos h2 {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  border: 3px solid #566573;
  color: #f7f9f9;
  padding: 15px;
  gap: 10px;
  margin: auto;
}

.grid-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-image: url("./img/fondo-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
}

.card-body a {
  display: flex;
  justify-content: center;
  width: auto;
  background-color: #9813b3;
  color: #f3f1f1;
}

.card:hover {
  color: white;
  background-color: rgba(10, 5, 20, 0.5);
  box-shadow: 5px 5px 20px rgba(0, 255, 0, 0.5);
  transform: translate(-4%);
  cursor: pointer;
  font-weight: bold;
}

/* Seccion carrusel de cartas */

.card-carrusel {
  display: none;
}

/* footer  */

.footer-listas {
  margin: 10px;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style-type: none;
}

footer a {
  color: #f7f9f9;
  font-size: 25px;
}

.redes:hover {
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.5);
}

footer {
  background-color: #7a1e92;
  overflow: hidden;
}

.footer-container {
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 20px;
  color: #000f0f;
}

/* -------- Estilos para pantallas pequeñas. Media Queries -------- */
@media only screen and (max-width: 600px) {
  .logo {
    width: 60px;
    height: 50px;
  }

  .lab_hamburguesa {
    display: flex;
    padding: 3px;
  }

  .lab_hamburguesa:hover {
    color: rgb(67, 218, 238);
    cursor: pointer;
  }

  .ul-container {
    display: none;
  }

  /* Mostrar menú al seleccionar checkbox */
  .menu_hamburguesa:checked ~ .div-inicio-lista .ul-container {
    display: flex;
  }

  .li-container {
    font-weight: bold;
  }

  /* Inicio */

  #inicio h2 {
    display: flex;
    color: white;
    font-size: 35px;
    justify-content: center;
    text-shadow: 3px 3px 5px rgba(65, 64, 61, 0.5);
  }

  #inicio p {
    display: flex;
    color: #f0f3f4;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 17px;
    padding: 8px;
  }

  iframe {
    width: auto;
    height: 320px;
    border: #d5dbdb solid 2px;
    margin: auto;
    overflow: auto;
  }

  /*  Seccion card y productos  version moviles */
  .grid-container {
    display: none;
  }

  .card-carrusel {
    background-image: url("./img/fondo-card.jpg");
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .carousel-caption .btn-outline-primary {
    background-color: #9813b3;
    color: #fff;
  }

  .carousel-caption .btn-outline-primary:hover {
    background-color: blue;
  }

  .titulo-carrusel {
    display: flex;
    justify-content: center;
    color: rgb(152, 248, 27);
    align-items: center;
    padding: 50px;
  }

  .titulo-carrusel h5 {
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
  }

  .carousel-inner h5 {
    color: #e1dbdb;
    font-weight: bold;
  }

  .carousel-inner p {
    display: none;
  }

  .carousel-caption:hover {
    color: white;
    background-color: rgba(10, 5, 20, 0.5);
    box-shadow: 5px 5px 20px rgba(0, 255, 0, 0.5);
    transform: translate(-4%);
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    font-weight: bold;
  }

  /* Footers */

  .footer-listas {
    margin: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }

  footer a {
    color: #f7f9f9;
    font-size: 20px;
  }

  .footer-container {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
    color: #000f0f;
    margin: 50px 0 0 10px;
    padding: 8px;
    text-align: center;
  }
}

/* Pantallas medianas - Tables -  Media Queries - */

@media (min-width: 600px) and (max-width: 768px) {
  .logo-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-inicio-lista {
    display: flex;
    margin: auto;
  }

  #inicio h2 {
    display: flex;
    color: white;
    font-size: 28px;
    justify-content: center;
    text-shadow: 3px 3px 5px rgba(65, 64, 61, 0.5);
  }

  /* Carrusel de iamgenes de productos */

  .grid-container {
    display: none;
  }

  .card-carrusel {
    background-image: url("./img/fondo-card.jpg");
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .carousel-caption .btn-outline-primary {
    background-color: #9813b3;
    color: #fff;
  }

  .carousel-caption .btn-outline-primary:hover {
    background-color: blue;
  }

  .titulo-carrusel {
    display: flex;
    justify-content: center;
    color: rgb(53, 252, 69);
    align-items: center;
    padding: 50px;
  }

  .titulo-carrusel h5 {
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
  }

  .carousel-inner h5 {
    color: #e1dbdb;
    font-weight: bold;
  }

  .carousel-inner p {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption:hover {
    color: white;
    background-color: rgba(10, 5, 20, 0.5);
    box-shadow: 5px 5px 20px rgba(0, 255, 0, 0.5);
    transform: translate(-4%);
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    font-weight: bold;
  }
}

/* 768px - 992px: tablets en modo horizontal y laptops pequeñas. Media Queries  */
@media (min-width: 768px) and (max-width: 992px) {
  .logo-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-inicio-lista {
    display: flex;
    margin: auto;
    padding: auto;
  }

  /* Carrusel de iamgenes de productos */

  .grid-container {
    display: none;
  }

  .card-carrusel {
    background-image: url("./img/fondo-card.jpg");
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .carousel-caption .btn-outline-primary {
    background-color: #9813b3;
    color: #fff;
  }

  .carousel-caption .btn-outline-primary:hover {
    background-color: blue;
  }

  .titulo-carrusel {
    display: flex;
    justify-content: center;
    color: rgb(109, 230, 11);
    align-items: center;
    padding: 50px;
  }

  .titulo-carrusel h5 {
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.5);
  }

  .carousel-inner h5 {
    color: #e1dbdb;
    font-weight: bold;
  }

  .carousel-inner p {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption:hover {
    color: white;
    background-color: rgba(10, 5, 20, 0.5);
    box-shadow: 5px 5px 20px rgba(0, 255, 0, 0.5);
    transform: translate(-4%);
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    font-weight: bold;
  }
}

/*  992px - 1200px: laptops y monitores de escritorio estándar.*/
@media (min-width: 992px) and (max-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
}
